html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #aaaaaa1f #5553;
}

*::-webkit-scrollbar {
  width: 10pt;
  height: 10pt;
}

*::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: #5553;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaaaaa1f;
  border: 2pt solid #5553;
}

#header {
  height: 25pt;
  width: 100%;
  background: #111;
  display: block;
}

.app_view {
  min-width: 200pt;
  width: 30%;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  color: #aaa;
  font-family: 'Consolas', monospace;
  vertical-align: top;
  background: #1e1e1e;
}

.app_view.disasm .disasm,
.app_view.disasm .stdout {
  padding: 5pt 15pt;
}

.app_view .selector {
  min-height: 25pt;
  width: 100%;
  background: #2d2d2d;
  display: block;
}

.app_view.disasm .stdout {
  padding: 5pt 15pt;
  height: 20%;
  overflow: auto;
}

#app_container {
  margin: 0;
  background: #111;
  width: 100vw;
  height: calc(100% - 25pt);
}

#code_view {
  margin: 0;
}

#header img {
  height: 23pt;
  margin: 1pt 5pt;
}

.h_separator {
  display: inline-block;
  height: 100%;
  width: 2pt;
  background: #666;
  cursor: ew-resize;
  margin: 0;
  user-select: none;
}

.v_separator {
  display: inline-block;
  width: 100%;
  height: 2pt;
  background: #666;
  cursor: ns-resize;
  margin: 0;
  user-select: none;
}

.tab {
  width: fit-content;
  display: inline-block;
  background: #ffffff14;
  height: 22pt;
  vertical-align: top;
  padding: 0 15pt;
  margin: 2pt -5pt 0 8pt;
  cursor: pointer;
  border: 1pt solid #555;
  border-bottom: none;
  user-select: none;
}

.tab.active {
  background: #1e1e1e;
  border-color: #777;
}

.tab .tab_descriptor {
  font-family: 'Segoe UI', monospace;
  font-weight: bold;
  font-size: 90%;
  display: inline-block;
  margin-top: 4pt;
  color: #999;
}

.tab.active .tab_descriptor {
  color: #ddd;
}

.selector .switch {
  position: relative;
  display: inline-block;
  width: 35pt;
  height: calc(100% - 6pt);
  margin: 2pt 4pt 2pt 4pt;
  top: -2pt;
}

.selector .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.selector .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20pt;
}

.selector .switch .slider::before {
  position: absolute;
  content: "";
  height: 12pt;
  width: 12pt;
  left: 2.5pt;
  bottom: 1pt;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.selector input:checked+.slider {
  background-color: #4E8CBF;
}

.selector input:focus+.slider {
  box-shadow: 0 0 1pt #4E8CBF;
}

.selector .switch input:checked+.slider:before {
  -webkit-transform: translateX(18pt);
  -ms-transform: translateX(18pt);
  transform: translateX(18pt);
  background-color: #fff;
}

.selector i.label {
  margin-left: 8pt;
  margin-right: -4pt;
  font-style: normal;
  font-size: 90%;
  display: inline-block;
}

.selector input[type="text"] {
  width: 200pt;
  margin: 2pt 2pt;
  height: calc(100% - 8pt);
  padding: 2pt 10pt;
  background: #424242;
  border: none;
  border-radius: 2pt;
  color: #c6c6c6;
  display: inline-block;
  font-family: 'Consolas', monospace;
}

.selector select {
  width: 75pt;
  margin: 4pt -6pt 2pt 8pt;
  height: calc(100% - 8pt);
  padding: 2pt 10pt;
  background: #474747;
  border: none;
  border-radius: 2pt;
  color: #c6c6c6;
  display: inline-block;
}

.selector select optgroup {
  font-style: normal;
  font-weight: bold;
  color: #fff;
}

.selector select optgroup option {
  color: #ddd;
}

.app_view.disasm .disasm_container {
  height: 75%;
  overflow: auto;
}

.disasm_container .disasm {
  width: max-content;
}

.disasm .function h3.symbol {
  font-size: 100%;
  color: #fff;
}

.disasm .function p.asm_line {
  line-height: 30%;
  user-select: all;
  display: block;
  height: 10pt;
  padding-top: 4pt;
  width: fit-content;
  margin: 2pt;
  font-size: 10.5pt;
  text-rendering: optimizelegibility;
  cursor: default;
}

.disasm .function p.asm_line.matched ::selection,
.disasm .function p.asm_line.matched ::selection {
  background: #86868654;
}

.disasm .function p.asm_line.hover {
  background: #4ac4ff14;
}

.disasm .function p.asm_line ::-moz-selection,
.disasm .function p.asm_line ::selection {
  background: #aaa5;
}

.disasm .function p.asm_line .addr {
  color: #858585;
  min-width: 14pt;
  display: inline-block;
  margin-right: 0.75em;
  text-align: right;
  user-select: none;
  font-weight: normal;
  position: relative;
}

.disasm .function p.asm_line.matched .addr {
  --sweight0: calc(1 - min(1, var(--weight) / 50));
  --sweight1: calc(var(--sweight0) * var(--sweight0));
  --sweight2: calc(var(--sweight1) * var(--sweight1));
  --sweight: calc(1 - var(--sweight2) * var(--sweight2));
  color: hsl(calc(var(--sweight) * -235deg + 230deg), calc(var(--sweight) * 65% + 10%), calc(var(--sweight) * 20% + 40%));
  position: relative;
}

.disasm .function p.asm_line .bytes {
  display: none;
  min-width: 35pt;
  margin-right: 0.75em;
  opacity: 20%;
}

.disasm .function p.asm_line .mnemonic,
.disasm .function p.asm_line .jump {
  margin-right: 0.5em;
  color: #5397cf;
  font-weight: normal;
}

.disasm .function p.asm_line .jump {
  color: #51e7ff;
}

.disasm .function p.asm_line .params {
  display: inline-block;
  color: #d4d4d4;
  font-style: normal;
}

.disasm .function p.asm_line .params .ptr {
  display: inline-block;
  color: #b5cea8;
  font-style: normal;
}

.disasm .function p.asm_line .comment {
  color: #608b4e;
  margin-left: 1em;
  font-style: normal;
}

.disasm .function p.asm_line.selected {
  background: #515151;
  color: #e2e2e2;
}

.disasm .function p.asm_line .comment.dec {
  margin-left: auto;
}

p.asm_line .isa,
.iig_tech {
  user-select: none;
  color: #7f7f7f;
  font-style: normal;
  font-size: 85%;
  margin: -5.5pt 0 0 7pt;
  background: transparent;
  line-height: 100%;
  padding: 1.5pt 2pt;
  border-radius: 4pt;
  font-family: 'Segoe UI', sans-serif;
  border: 1pt solid;
  float: right;
}

p.asm_line .dec {
  color: #d4d4d4;
  font-weight: normal;
}

p.asm_line .dectype::before {
  content: '(';
  color: #838383;
}

p.asm_line .dectype::after {
  content: ')';
  color: #838383;
}

p.asm_line .dectype {
  color: #5397cf;
  font-weight: normal;
  font-style: normal;
}

p.asm_line .decbuiltin {
  color: #b5cea8;
  font-weight: normal;
  font-style: normal;
}

p.asm_line .decbasic {
  color: #beb7ff;
  font-weight: normal;
  font-style: normal;
}

i.isa.SSE,
i.isa.SSE2,
i.isa.SSE2MMX,
i.isa.SSE_PREFETCH,
.iig_tech.SSE,
.iig_tech.SSE2 {
  color: #71969d;
}

i.isa.SSE3,
i.isa.SSE3X87,
.iig_tech.SSE3 {
  color: #55929d;
}

i.isa.SSSE3,
i.isa.SSSE3MMX,
.iig_tech.SSSE3 {
  color: #5fa5bb;
}

i.isa.SSE4,
i.isa.SSE41,
i.isa.SSE42,
.iig_tech.SSE4 {
  color: #5f87bb;
}

i.isa.AVX,
.iig_tech.AVX {
  color: #5f61bb;
}

i.isa.AVX2,
i.isa.AVX2GATHER,
.iig_tech.AVX2,
.iig_tech.AVX_IFMA,
.iig_tech.AVX_NE_CONVERT,
.iig_tech.AVX_VNNI {
  color: #875fbb;
}

i.isa.AVX512BW_128,
i.isa.AVX512BW_128N,
i.isa.AVX512BW_256,
i.isa.AVX512BW_512,
i.isa.AVX512BW_KOP,
i.isa.AVX512CD_128,
i.isa.AVX512CD_256,
i.isa.AVX512CD_512,
i.isa.AVX512DQ_128,
i.isa.AVX512DQ_128N,
i.isa.AVX512DQ_256,
i.isa.AVX512DQ_512,
i.isa.AVX512DQ_KOP,
i.isa.AVX512DQ_SCALAR,
i.isa.AVX512ER_512,
i.isa.AVX512ER_SCALAR,
i.isa.AVX512F_128,
i.isa.AVX512F_128N,
i.isa.AVX512F_256,
i.isa.AVX512F_512,
i.isa.AVX512F_KOP,
i.isa.AVX512F_SCALAR,
i.isa.AVX512PF_512,
i.isa.AVX512_4FMAPS_512,
i.isa.AVX512_4FMAPS_SCALAR,
i.isa.AVX512_4VNNIW_512,
i.isa.AVX512_BF16_128,
i.isa.AVX512_BF16_256,
i.isa.AVX512_BF16_512,
i.isa.AVX512_BITALG_128,
i.isa.AVX512_BITALG_256,
i.isa.AVX512_BITALG_512,
i.isa.AVX512_FP16_128,
i.isa.AVX512_FP16_128N,
i.isa.AVX512_FP16_256,
i.isa.AVX512_FP16_512,
i.isa.AVX512_FP16_SCALAR,
i.isa.AVX512_GFNI_128,
i.isa.AVX512_GFNI_256,
i.isa.AVX512_GFNI_512,
i.isa.AVX512_IFMA_128,
i.isa.AVX512_IFMA_256,
i.isa.AVX512_IFMA_512,
i.isa.AVX512_VAES_128,
i.isa.AVX512_VAES_256,
i.isa.AVX512_VAES_512,
i.isa.AVX512_VBMI2_128,
i.isa.AVX512_VBMI2_256,
i.isa.AVX512_VBMI2_512,
i.isa.AVX512_VBMI_128,
i.isa.AVX512_VBMI_256,
i.isa.AVX512_VBMI_512,
i.isa.AVX512_VNNI_128,
i.isa.AVX512_VNNI_256,
i.isa.AVX512_VNNI_512,
i.isa.AVX512_VP2INTERSECT_128,
i.isa.AVX512_VP2INTERSECT_256,
i.isa.AVX512_VP2INTERSECT_512,
i.isa.AVX512_VPCLMULQDQ_128,
i.isa.AVX512_VPCLMULQDQ_256,
i.isa.AVX512_VPCLMULQDQ_512,
i.isa.AVX512_VPOPCNTDQ_128,
i.isa.AVX512_VPOPCNTDQ_256,
i.isa.AVX512_VPOPCNTDQ_512,
i.isa.AVX512EVEX,
i.isa.AVX512VEX,
.iig_tech.AVX512F,
.iig_tech.AVX512BW,
.iig_tech.AVX512CD,
.iig_tech.AVX512DQ,
.iig_tech.AVX512ER,
.iig_tech.AVX512IFMA52,
.iig_tech.AVX512PF,
.iig_tech.AVX512VL,
.iig_tech.AVX512VPOPCNTDQ,
.iig_tech.AVX512_4FMAPS,
.iig_tech.AVX512_4VNNIW,
.iig_tech.AVX512_BF16,
.iig_tech.AVX512_BITALG,
.iig_tech.AVX512_VBMI,
.iig_tech.AVX512_VBMI2,
.iig_tech.AVX512_VNNI,
.iig_tech.AVX512_VP2INTERSECT,
.iig_tech.AVX512_FP16 {
  color: #bb5479;
}

i.isa.FMA,
i.isa.FMA4,
i.isa.AES,
i.isa.AVXAES,
i.isa.AVX_VNNI,
.iig_tech.AES,
.iig_tech.FMA {
  color: #bb7b54;
}

.view3_opt {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#analysis_selector {
  display: block;
  margin: 10pt 10pt;
  background: #35646f;
  padding: 15pt 20pt;
  color: #fff;
  border: 2pt solid #74bec2;
  font-size: 16pt;
  width: calc(100% - 75pt);
  font-family: 'Segoe UI', monospace;
}

#analysis_selector .loop_selection {
  background: #578f8f;
  padding: 5pt 10pt;
  font-family: 'Segoe UI', monospace;
  border: 1pt solid #74bec2;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  display: inline-block;
  margin: 7.5pt 2pt 2pt;
  font-size: 12pt;
  color: #efffff;
}

#analysis_selector .loop_selection:hover {
  background: #6fb1aa;
  color: #fff;
}

#analysis {
  font-family: 'Segoe UI', sans-serif;
  padding: 10pt 25pt;
  margin: 15pt 10pt;
  color: #fff;
  background: linear-gradient(30deg, #295671, #49b4c6);
  border-radius: 10pt;
  border: 1pt solid #69abbf;
  box-shadow: 2pt 2pt 5pt #000000fc;
}

#analysis h3 {
  margin-top: 0;
  font-size: 95%;
}

#analysis .stat {
  margin: 4pt 0;
  font-family: 'Consolas', monospace;
}

#analysis .stat.specific {
  margin: 2pt 2pt;
  font-size: 85%;
  opacity: 70%;
  display: inline-block;
  border-radius: 10pt;
  background: #0f384d9e;
  padding: 2.75pt 8pt;
}

#execution_flow {
  width: 100%;
  line-break: anywhere;
  border-spacing: 0;
  border-collapse: collapse;
}

.mca_th {
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  font-size: 90%;
  line-break: anywhere;
  color: #fff;
}

.mca_th_stats {
  font-style: normal;
  font-size: 80%;
  vertical-align: bottom;
  text-align: center;
  color: hsl(calc(var(--usage) * -150deg + 180deg), calc(var(--usage) * 60% + 20%), calc(var(--usage) * 20% + 40%));
  background: hsl(calc(var(--usage) * -150deg + 180deg), calc(var(--usage) * 60% + 20%), calc(var(--usage) * 20% + 10%));
}

.exec_flow_tr {
  position: relative;
}

.lane {
  --colorA: hsl(calc(var(--lane) * 0.1 * 360deg - var(--iteration) * 0.2 * 360deg) 50% 50%);
  --colorB: hsl(calc(var(--lane) * 0.1 * 360deg + 50deg - var(--iteration) * 0.2 * 360deg) 30% 40%);
  background: linear-gradient(180deg, var(--colorA), var(--colorB));
  border-radius: 10pt;
  display: block;
  padding: 0;
  overflow: hidden;
  position: absolute;
  mix-blend-mode: screen;
  border: 1pt solid transparent;
  opacity: 30%;
  width: 11pt;
  height: calc(15pt * var(--length));
  top: calc(var(--start) * 15pt);
}

.lane.selected {
  border: 1pt solid var(--colorA);
  opacity: 100%;
  z-index: 10;
}

.asm_line .addr .jmp.above::before,
.asm_line .addr .jmp.below::before {
  content: ' ';
  border: 2pt solid;
  border-right: none;
  width: calc(max(7, min(18, var(--offset) * 0.5)) * 1pt);
  right: 15pt;
  background: transparent;
  position: absolute;
  height: calc(var(--offset) * 16pt);
  color: #fff3;
}

.asm_line .addr .jmp.below::before {
  top: -0.5pt;
}

.asm_line .addr .jmp.above::before {
  top: calc(var(--offset) * -16pt);
}

.asm_line .addr .jmp.above::after,
.asm_line .addr .jmp.below::after {
  content: ' ';
  background: transparent;
  position: absolute;
  border: 2pt solid;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  width: 5pt;
  height: 5pt;
  left: -6.25pt;
  color: #fff3;
}

.asm_line .addr .jmp.below::after {
  top: calc(var(--offset) * 16pt - 1.73pt);
}

.asm_line .addr .jmp.above::after {
  top: calc(var(--offset) * -16pt - 3pt);
}

.asm_line.selected .addr .jmp.above::before,
.asm_line.selected .addr .jmp.below::before,
.asm_line.selected .addr .jmp.above::after,
.asm_line.selected .addr .jmp.below::after {
  color: #fff8;
}

.asm_line.selected .addr .dependency.above::before,
.asm_line.selected .addr .dependency.below::before {
  content: ' ';
  border: 2pt solid;
  border-right: none;
  width: 10pt;
  right: 15pt;
  background: transparent;
  position: absolute;
  height: calc(var(--offset) * 16pt);
}

.asm_line.selected .addr .dependency.below::before {
  top: -0.5pt;
}

.asm_line.selected .addr .dependency.above::before {
  top: calc(var(--offset) * -16pt);
}

.asm_line.selected .addr .dependency.above::after,
.asm_line.selected .addr .dependency.below::after {
  content: ' ';
  background: transparent;
  position: absolute;
  border: 2pt solid;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  width: 5pt;
  height: 5pt;
  left: -6.25pt;
}

.asm_line.selected .addr .dependency.below::after {
  top: calc(var(--offset) * 16pt - 1.73pt);
}

.asm_line.selected .addr .dependency.above::after {
  top: calc(var(--offset) * -16pt - 3pt);
}

.asm_line.selected .addr .dependency.reg,
.mca_pressure.reg {
  color: #b95d9c;
}

.asm_line.selected .addr .dependency.mem,
.mca_pressure.mem {
  color: #5d85b9;
}

.asm_line.selected .addr .dependency.rsrc,
.mca_pressure.rsrc {
  color: #815db9;
}

.asm_line.selected .addr .dependency.reg::before {
  width: 6.5pt;
}

.asm_line.selected .addr .dependency.mem::before {
  width: 13.5pt;
}

.asm_line.selected .addr .dependency.rsrc::before {
  width: 10pt;
}

.exec_flow_spacing {
  position: absolute;
  top: calc(var(--position) * 15pt);
  height: 50pt;
  width: 1pt;
}

.mca_info {
  display: none;
}

.asm_line.selected .addr .mca_info {
  display: block;
  position: absolute;
  line-height: 100%;
  top: 10pt;
  left: 150pt;
  width: 275pt;
  background: #151515ee;
  padding: 15pt 20pt;
  color: #bbb;
  text-align: left;
}

.mca_istat {
  display: block;
}

.mca_stall {
  margin: 5pt 0;
  display: block;
  color: #a66;
}

.mca_pressure {
  display: block;
}

.mca_reg,
.mca_port {
  color: #ddd;
  font-style: normal;
  display: inline-block;
}

.mca_loop::before,
.mca_loop_origin::before {
  content: 'Loop ';
  font-size: 70%;
}

.mca_loop,
.mca_loop_origin {
  display: inline-block;
  color: #fff;
  background: #4924ff;
  border-radius: 5pt;
  padding: 0 3pt;
  margin: 2pt 4pt;
}

.mca_loop_origin {
  background: #6c629b;
}

.mca_loop_origin::before {
  content: '◀ Loop ';
}

.asm_spacing {
  height: 300pt;
  width: 10pt;
}

.disasm .function p.asm_line.matched .addr::before {
  content: '';
  position: absolute;
  width: 2pt;
  height: 16pt;
  background: hsl(calc(var(--sweight) * -235deg + 230deg), calc(var(--sweight) * 65% + 5%), calc(var(--sweight) * 20% + 30%));
  left: -17pt;
  top: -5pt;
}

#documentation_search {
  width: 80%;
  margin: 15pt 5%;
  font-size: 20pt;
  background: #aaa2;
  border: 3pt solid #aaa2;
  padding: 5pt 10pt;
  color: #ddd;
  border-radius: 5pt;
  display: block;
  font-weight: normal;
  font-family: 'Consolas', monospace;
}

.iig_disclaimer {
  margin: 2pt;
  font-size: 80%;
  position: absolute;
  bottom: 0;
  background: #6a6a6ae8;
  padding: 2pt 6pt;
  color: #fff;
}

.iig_result_container {
  margin: 5pt 5pt 15pt 5pt;
  color: #999;
  border-bottom: solid 2pt #555;
  padding-bottom: 5pt;
}

.iig_type {
  font-weight: normal;
  color: #5397cf;
  display: inline-block;
  margin-right: 0.5em;
}

.iig_name {
  color: #d4d4d4;
  font-weight: normal;
}

.iig_misc {
  font-style: normal;
  color: #888;
}

.iig_desc {
  margin: 10pt 5pt;
  background: #333;
  padding: 2pt 5pt;
}

.iig_op {
  font-style: normal;
  font-size: 82.5%;
  margin: 10pt 5pt;
  color: #808080;
  padding: 2pt 5pt;
  line-height: 140%;
}

.iig_instruction {
  margin: 5pt 20pt;
}

.iig_header {
  cursor: pointer;
}

.iig_header:hover {
  background: #fff1;
}

.iig_body {
  margin-bottom: 25pt;
  display: none;
}

.iig_result_container.selected .iig_body {
  display: block;
}

div.error {
  position: absolute;
  top: 75pt;
  height: fit-content;
  background: #d9324a;
  box-shadow: 8pt 8pt #822230;
  margin-left: 50pt;
  animation-name: error-dance;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

div.error::before {
  content: '(╯°□°）╯';
  color: #fff;
  font-size: 400%;
  font-family: Tahoma, sans-serif;
  margin: 20pt 5pt 25pt 20pt;
  display: inline-block;
}

div.error::after {
  content: 'Oh no! Something went wrong...';
  display: block;
  color: #fff;
  margin: 5pt 10pt 20pt 10pt;
  width: 190pt;
}

div.error.disasm::after {
  content: 'Oh no! Something didn\'t quite hit the mark...';
}

div.error.zydec::after {
  content: 'Oh no! The Pseudo-Decompiler is having a bad day...';
}

div.error.exec_flow::after {
  content: 'Oh no! Execution-Flow really didn\'t like that...';
}

div.spinner {
  position: absolute;
  top: 100pt;
  width: 80pt !important;
  height: 80pt !important;
  margin-left: 125pt;
  background: transparent;
  background-image: url('/assets/favicon.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  display: block;
  padding: 0 !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes error-dance {
  0% {
    transform: translate(0, -2pt) rotate(0deg);
    opacity: 0;
  }

  33% {
    opacity: 0;
    transform: translate(0, -2pt) rotate(0deg);
    opacity: 0;
  }

  50% {
    transform: translate(5pt, 5pt) rotate(5deg);
    opacity: 1;
  }

  66% {
    transform: translate(-5pt, 2pt) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

#iig_spacing {
  height: 150pt;
}

#cookie_consent_banner {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  background: #0009;
}

.cookie_internal {
  margin: 50pt auto;
  width: 40%;
  min-width: 500pt;
  padding: 20pt 50pt 60pt 50pt;
  background: #050505;
  font-size: 13pt;
  color: #fff;
  font-family: 'Consolas', monospace;
  font-style: normal;
}

#cookie_consent_banner a, #cookie_consent_banner a:visited {
  color: #d96c8b;
}

#cookie_consent_banner a:hover {
  color: #ffb5ca;
}

.cookie_consent, .cookie_no_consent {
  display: block;
  background: #222;
  border: 2pt solid #444;
  width: fit-content;
  padding: 5pt 10pt;
  margin: 5pt auto;
  cursor: pointer;
  color: #fff !important;
  cursor: pointer;
  user-select: none;
  font-style: normal;
}

.cookie_consent:hover, .cookie_no_consent:hover {
  background: #444;
}

#header a, #header .legal {
  float: right;
  cursor: pointer;
  user-select: none;
}

.donate, .donate:visited {
  background: linear-gradient(34deg, #ae505d, #93373c);
  padding: 2pt 8pt;
  margin: -2pt 5pt;
  color: #f2e2ed;
  text-decoration: none;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  font-weight: bold;
  font-size: 13pt;
  user-select: none;
}

#header .legal, #header .legal:visited {
  color: #7e7e7e;
  font-size: 10pt;
  margin: 5pt 10pt;
  font-family: 'Segoe UI', sans-serif;
  text-decoration: none;
  font-style: normal;
}

norender {
  position: absolute;
  top: -50pt;
}

.monaco_line_highlighted {
  background: #2d383e;
}
